.mi-navbar {
	position: fixed!important;
	background: rgba(0, 0, 0, 0.7);

	&__logotipo {
		height: 46px;
	}

	& .nav-item a {
		color: #DDD!important;

		&:hover {
			color: #FFF!important;
		}
	}
}

.active {
	background: rgba($color: #f00, $alpha: 0.3);
}

.dropdown-menu {
	background: #000;
	
	& .active {
		background: rgba($color: #f00, $alpha: 0.3);
	}

	& a {
		color: #CCC;

		&:active {
			background: rgba($color: #f00, $alpha: 0.3);
		}
	}
		
}